@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--fc-color);
    font-family: 'DotGothic16', sans-serif;
}

:root {
    font-size: 62.5%;
    --background-color: #0E141B;
    /* --background-calculator: */
    --fc-color: #fff;
}

body {
    display: flex;
    font-size: 1.6rem;
    width: 100vw;
    height: 100vh;
    background: var(--background-color);
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 30.0rem;
    padding: 2rem 2.2rem;
    border-radius: 10px;
    border: 4px solid #fff;
    outline: 5px solid rgb(95, 95, 95);
}

.calculator h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 2.0rem;
}

.calculator p {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 1.2rem 0 0;
    font-size: 1.8rem;
    font-weight: bold;
    border-radius: 4px;
    margin-bottom: 2.0rem;
    background-color: #fff;
    color: #000;
}

.calculator button {
    font-size: 2.2rem;
    height: 5rem;
    width: 6.2rem;
    border-radius: 8px;
    background: transparent;
    cursor: pointer;
}